<div class = "login-wrapper">
<div class = "login-container">

<div class="login-title">
  <h1> 新規登録 </h1>
</div>  
<div class="login-form">
  <form action="/sign_up" method="post" class="sign-form">
    <div class="form">
      <input type="text" name="user_name" placeholder="username"> 
    </div>
    <div class="form">
      <input type="text" name="mail" placeholder="email"> 
    </div>
    <div class="form">
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="form">
      <input type="password" name="password_confirm" placeholder="password confirm">
    </div>
    <div class="submit">
      <input type="submit" value="SIGN UP">
    </div>
  </form>
</div>
  
  <a href="/sign_in"> アカウントをお持ちの方はこちら </a>
</div>
</div>
