<div class = "login-wrapper">
<div class = "login-container">
  
<div class="login-form">
  <form action="/sign_in" method="post" class="sign-form">
    <div class="form">
      <input type="text" name="mail" placeholder="email"> 
    </div>
     <div class="form">
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="submit">
      <input type="submit" value="SIGN IN">
    <div>
  </form>
</div>
  
  <a href="/sign_up"> 新規登録はこちら </a>
</div>
</div>
